{
  "extends": ["@darekkay/eslint-config/react"],
  "rules": {
    "react/jsx-filename-extension": "off",

    "no-unused-vars": "off",
    "react/prop-types": "off",
    "jest/require-top-level-describe": "off",
    "jest/expect-expect": "off",
    "import/no-unresolved": "off"
  }
}
