footer {
  display: flex;
  justify-content: space-between;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 10px;

  height: 35px;
  line-height: 35px;

  font-size: 12px;
  text-align: center;
  border-top: 1px solid #ccd1d4;
}

a,
a:visited,
a:hover {
  color: #005aff;
}

.footer-link {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 550px) {
  footer {
    justify-content: space-around;
  }
  .footer-link {
    display: none;
  }
}
